

body {
  margin: 0;
}

.site-header {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #eeeeee;
  border-bottom: 5px solid #ff3038;
  justify-content: space-between;
}

.header-tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.logo {
  width: 150px;
  height: auto;
  display: block;
}

.page-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.page-menu summary {
  list-style: none;
  font-size: 40px;
  cursor: pointer;
}

.page-menu summary:hover {
  color: #ff3038;
}

/* hides the default triangle but for safari */
.page-menu summary::-webkit-details-marker {
  display: none;
}

.page-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  
  list-style: none;
  margin: 0;
  padding: 5px;
  min-width: 10px;
}

.site-search {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.site-search summary {
  list-style: none;
  font-size: 40px;
  cursor: pointer;
}

.site-search summary:hover {
  color: #ff3038;
}

/* hides the default triangle but for safari */
.site-search summary::-webkit-details-marker {
  display: none;
}

.hero {
  display: flex;
  list-style: none;
}

.hero img {
  width: 100%;
  flex-shrink: 0;
  height: 700px;
  object-fit: cover;  
  border-bottom: 5px solid #ff3038;
}

main {
  padding: 40px;
}

.site-footer {
  display: block;
  padding: 10px;
  text-align: center;
  border-top: 5px solid #ff3038;
}

.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px;
  background-color: #eeeeee;
  flex-wrap: wrap;
  border-top: 5px solid #ff3038;
}

.site-footer p {
  margin: 0;
}

footer img {
  width: 30px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.footer-link {
  color: #000000;
}

video {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-bottom: 5px solid #ff3038;
}